## Python for Data Science

In [2]:
# Dynamically typed language
# High level language 
# Interpreted language

In [3]:
x = 2
y = 4
x+y

6

In [4]:
x

2

## Functions

In [5]:
def add_numbers(x,y):
    return x+y

add_numbers(2,4)

6

In [6]:
# No return type
# No user return statement, default is None
# Can set default values for parameters
# Default parameters have to be at the end of the function declaration

In [7]:
# You can pass optional parameters as labelled value

def add_numbers(x,y,z=None):
    if(z==None):
        return x+y
    else :
        return x+y+z
    

print(add_numbers(2,4))
print(add_numbers(2,4,6))

12

In [8]:
# You can assign a variable to a function

def add_numbers(x,y):
    return x+y

a=add_numbers
a(1,2)

3

## Types and Sequences

In [11]:
type('This is a string')

str

In [12]:
type(None)

NoneType

In [13]:
type(1)

int

In [14]:
type(add_numbers)

function

### 1. Tuples

In [15]:
# It is a sequence of variables that is itself IMMUTABLE

In [24]:
x = (1,'a',2,'b')
type(x)

tuple

In [26]:
x.append(3.3)
x

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# String values can be defined by '' or ""

### 2. Lists

In [ ]:
# MUTABLE

In [32]:
x=[1,'a',2,'b']
type(x)

list

In [33]:
type(x)

list

In [34]:
x.append(3.3)
x

[1, 'a', 2, 'b', 3.3]

In [35]:
for item in x:
    print(item)

1
a
2
b
3.3

In [37]:
i = 0
while( i != len(x)):
    print(x[i])
    # i++ is INVALID
    i=i+1

1
a
2
b
3.3

In [38]:
[1,2] + [2,3]

[1, 2, 2, 3]

In [39]:
[1,2] * 3

[1, 2, 1, 2, 1, 2]

In [41]:
[1,2] /2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [42]:
[1,2] * [3,2]

TypeError: can't multiply sequence by non-int of type 'list'

In [43]:
1 in [1,2,3]

True

In [44]:
# All strings are lists of characters so we can do slicing easily

In [45]:
x = 'This is a string'

In [46]:
x[0]

'T'

In [49]:
x[0:1]

'T'

In [50]:
x[0:2]

'Th'

In [52]:
x[-1]

'g'

In [54]:
x[-4:-2]

'ri'

In [56]:
x[:3]

'Thi'

In [57]:
x[3:]

's is a string'

In [58]:
# Splitting string based on substrings ie. REGEX (Later - Textmining)

In [62]:
# Basic Text analysis tools

In [63]:
firstname = "Shambhavi"
lastname = "Jilkar"

print(firstname+' '+lastname) # Concatenating 2 strings
print(firstname * 3)
print('Sham' in firstname)

Shambhavi Jilkar
ShambhaviShambhaviShambhavi
True

In [73]:
'Chris' + 1

TypeError: can only concatenate str (not "int") to str

In [74]:
"Chris" + str(2)

'Chris2'

In [61]:
name = 'Shambhavi Kirtiraj Jilkar'

In [66]:
fname = name.split(' ')[0]
lname = name.split(' ')[-1]
print(fname)

Shambhavi

In [71]:
print(lname)

Jilkar

### 3. Dictionaries

In [68]:
# Labelled collections with no order

In [69]:
x={'Shambhavi Jilkar':9923234345,'Kevin Thomas':2343454566}
x['Kevin Thomas']

2343454566

In [70]:
x['Kevin Thomas']= None
x['Kevin Thomas']

In [75]:
for name in x:
    print(x[name])

9923234345
None

In [76]:
for number in x.values():
    print(number)

9923234345
None

In [78]:
for name,number in x.items():
    print(name)
    print(number)

Shambhavi Jilkar
9923234345
Kevin Thomas
None

In [79]:
# UNPACKING

In [80]:
x = ('Shambhavi','Jilkar',9960170471)
fname,lname,no = x

In [81]:
fname

'Shambhavi'

In [82]:
lname

'Jilkar'

In [83]:
x

('Shambhavi', 'Jilkar', 9960170471)

In [84]:
x = ('Shambhavi','Jilkar',9960170471, "new")
fname,lname,no = x

ValueError: too many values to unpack (expected 3)

## Strings

In [86]:
# Strings are unicode based in Python3
# UTF allows a million characters, thus non english also, emojis etc
# Ascii allowed only 256

In [87]:
print('Shambhavi'+2)

TypeError: can only concatenate str (not "int") to str

In [88]:
print("Shambhavi"+str(2)) #Type conversion

Shambhavi2

In [90]:
sales_record = {'price':300,
               'num_of_items':4,
               'person':'Chris'}

sales_statement = '{} bought {} items for Rs. {} each with a total of {}'

print(sales_statement.format(sales_record['person'],sales_record['num_of_items'],sales_record['price'],
                            sales_record['num_of_items']*sales_record['price']))

Chris bought 4 items for Rs. 300 each with a total of 1200

## Data files and Summary Statistics

In [92]:
import csv

%precision 2 
#Setting floating point precision to be 2

'%.2f'

In [93]:
%pwd

'C:\\Users\\Shambhavi\\OneDrive\\MY COMPUTER\\Data Science Resources'

In [94]:
%cd Data

C:\Users\Shambhavi\OneDrive\MY COMPUTER\Data Science Resources\Data

In [95]:
%cd Coursera

C:\Users\Shambhavi\OneDrive\MY COMPUTER\Data Science Resources\Data\Coursera

In [96]:
with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
mpg[:3]

[{'': '1',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'auto(l5)',
  'drv': 'f',
  'cty': '18',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '2',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'manual(m5)',
  'drv': 'f',
  'cty': '21',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '3',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '2',
  'year': '2008',
  'cyl': '4',
  'trans': 'manual(m6)',
  'drv': 'f',
  'cty': '20',
  'hwy': '31',
  'fl': 'p',
  'class': 'compact'}]

In [97]:
len(mpg)

234

In [98]:
mpg[0].keys()

dict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

In [99]:
# Finding average city mpg
sum(float(d['cty']) for d in mpg) / len(mpg)

16.86

In [100]:
sum(float(d['hwy']) for d in mpg) / len(mpg)

23.44

In [103]:
# Average city mpg grouped by the number of cylinders a car has
cylinders = set(d['cyl'] for d in mpg)
print(cylinders)

CtyMpgMyCyl = []

for c in cylinders:
    summpg = 0
    cyltypecount = 0
    for d in mpg:
        if d['cyl'] == c:
            summpg += float(d['cty'])
            cyltypecount += 1
    
    CtyMpgMyCyl.append((c, summpg/cyltypecount))
    
CtyMpgMyCyl.sort(key=lambda x:x[0]) # Sorting highest to lowest
CtyMpgMyCyl

{'4', '8', '6', '5'}

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

In [104]:
vehicleclass = set(d['class'] for d in mpg)
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [106]:
HwyMpgMyCyl = []

for c in vehicleclass:
    summpg = 0
    vclasscount = 0
    for d in mpg:
        if d['class'] == c:
            summpg += float(d['hwy'])
            vclasscount += 1
    
    HwyMpgMyCyl.append((c, summpg/vclasscount))
    
HwyMpgMyCyl.sort(key=lambda x:x[1]) # Sorting lowest to highest
HwyMpgMyCyl

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]

## Date and Times

In [108]:
# They can be stored in many different ways
# Most common legacy methods for transactions are based on the offset from the epoch ie. January 1st, 1970

In [109]:
import datetime as dt
import time as tm

In [110]:
tm.time() # Time since epoch

1617633350.15

In [112]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow # Converted timestamp

datetime.datetime(2021, 4, 5, 20, 6, 38, 998842)

In [114]:
dtnow.year

2021

In [115]:
dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(4, 5, 20, 6, 38)

In [116]:
delta = dt.timedelta(days = 100)
# Now we can add and subtract this date time object

In [117]:
today = dt.date.today()

In [118]:
today - delta

datetime.date(2020, 12, 26)

In [119]:
today > today - delta

True

## Advanced Python objects

In [122]:
class Person:
    department = 'School of Info'
    
    def set_name(self,new_name):
        self.name = new_name
    def set_location(self,new_location):
        self.location = new_location

In [124]:
p = Person()

In [125]:
# No private and protected

In [126]:
# def __init__(<Constructors)

## map()

In [127]:
# One of the Functional programming method of Python : Built in function map()

In [128]:
# map(function,iterable)

In [129]:
store1 = [1,4,3,6,7]
store2 = [10,3,8,5,1]
cheapest = map(min,store1,store2)
cheapest

In [130]:
# Lazy evaluation, it returns a map object

In [131]:
for i in cheapest:
    print(i)

1
3
3
5
1

In [132]:
num = [3,2,3,4]
num2 = [2,7,6,5]

list(map(add_numbers,num,num2))

[5, 9, 9, 9]

## Lambda ( Anonymous function )

In [134]:
my_func = lambda a,b,c : a+b

In [135]:
# Return of lambda is a function reference
# No default parameters or complex operations

In [137]:
my_func(1,2,3)

3

In [142]:
for x in num:
    print((lambda y:type(y))(x))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

## List Comprehension

In [145]:
# Normal method
my_list = []
for number in range(0,100):
    if number%5 == 0:
        my_list.append(number)
        
my_list

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [146]:
# List Comprehension
my_list = [number for number in range(0,100) if number % 5 == 0]
my_list

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [147]:
lst = [i*j for i in range(10) for j in range(10)]
lst

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 0,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 0,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 0,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 0,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 0,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 0,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]